body{
    background-color: lightcoral;
}
.main{
    margin-top: 10%;
    margin-bottom: 15%;
}

h1{
    margin-bottom: 1em;
    letter-spacing: 1rem;
    font-size: 5em;
    font-family: fantasy;
    color: azure;
}

h2{
    margin-top: 1em;
    margin-left: 1em;
    font-size: 4em;
    font-family: fantasy;
    color: azure;
}

h3{
    margin-top: 1em;
    margin-left: 2em;
    font-size: 3em;
    font-family: fantasy;
    color: azure;
}

.customSize{
    width: 50% !important;
    height: 10% !important;
    margin-bottom: 1rem;
}

.form-row{
    display: flex;
    align-items: center;
    justify-content: center;
}