body{
    background-color: lightcoral;
}
.main{
    margin-top: 10%;
    margin-bottom: 15%;
}

h1{
    margin-bottom: 1em;
    letter-spacing: 1rem;
    font-size: 5em;
    font-family: fantasy;
    color: azure;
}
.customSize{
    width: 50% !important;
    height: 10% !important;
    margin-bottom: 1rem;
}

.form-row{
    display: flex;
    align-items: center;
    justify-content: center;
}
